@use 'reset-style';
@use 'icon-position';
@use 'card';
@use 'flip-card';

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    padding: 40px 0;

    h1{
        font-size: 80px;
        font-weight: 700;
        text-align: center;
    }
}

.card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.red{
    color: red;
}

.black{
    color:black;
}



